{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Anonimity</h1>
    <p class="lead"></p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>
            Criminals and embezzlers can use the anonymity to their advantage, especially in online social networks. Extreme abuse,
            cyberbullying and illegal or fraudulent activities, abusive and anonymous email posting (spam) are some of the most visible
            drawbacks to anonymity.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more bitcoins</h2>
        <p>You don't have to use Microsoft's garbage.</p>
    </div>
</div>
<div class="row">
    <h2>Basic Info</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Information about you...</th>
            </tr>
        </thead>
        <tbody>
            {% for elem in dns %}
            <tr>
                <td>{{ elem }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    Using proxies : {{ using_proxies }}
                </td>
            </tr>
            <tr>
                <td>
                    User agent : {{ user_agent }}
                </td>
            </tr>
            <tr>
                <td>
                    Opened ports = {{ opened_ports }}
                </td>
            </tr>
            <tr>
                <td>
                    Language = {{ language }}
                </td>
            </tr>
            <tr>
                <td>
                    TOR = {{ tor }}
                </td>
            </tr>
            <tr>
                <td id="js">
                    <!--Here checks status of JS-->
                    JS is not working now... yet...
                    <script>
                        document.getElementById("js").innerHTML = "JS is really working! Stop it!";
                    </script>
                </td>
            </tr>
            <tr>
                <td id="rtc">
                    <!--Here goes WebRTC Ips leak detection-->
                </td>
            </tr>
            <tr>
                <td id="dnt">
                    <!--Here goes Do Not Track detection-->
                </td>
            </tr>
            <tr>
                <td id="fp">
                    <!--Here comes Flash player detection-->
                </td>
            </tr>
            <tr>
                <td>
                    <span>Does someone track your location?</span>
                    <span id="geo">No</span>
                    <!--Here comes Geolocation leaks detection-->
                </td>
            </tr>
            <tr>
                <td id="cfp">
                    <!--Here comes CAnvas FigerPrintin' detection-->
                </td>
            </tr>
            <tr>
                <td>
                    <!--Here comes WebGL detection-->
                    <span>Leaks WebGL are</span>
                    <span id="webgl">impossible...</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Here goes your browser's extensions:</span>
                    <p id="228"></p>
                    <script type="text/javascript">

                        var x = navigator.plugins.length;

                        // store the total no of plugin stored
                        var txt = "There are " + x + " plugins installed: <br/>";

                        for (var i = 0; i < x; i++)
                            txt += i + ". " + navigator.plugins[i].name + "<br/>";

                        document.getElementById("228").innerHTML = txt;
                    </script>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="../static/scripts/webrtc.js"></script>
<script src="../static/scripts/dnt.js"></script>
<script src="../static/scripts/fp.js"></script>
<script src="../static/scripts/geo.js"></script>
<script src="../static/scripts/cfp.js"></script>
<script src="../static/scripts/webgl.js"></script>
<script src="../static/scripts/ext.js"></script>

{% endblock %}

